.ui.items > .step-item {
  width: 100%;
  border: 1px solid #e8e8e8;
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  flex-wrap: wrap;
}

.ui.items > .step-item > .picture{
  margin-right: 20px;
}

.ui.items > .step-item .step-body {
  width: 100%;
  margin-top: 40px;
}

.step-list {
}

