

.template-item.dummy {
  font-family: 'Redacted Script' !important;
}

.template-item.dummy .header {
  font-family: 'Redacted Script Bold' !important;
}

.template-item .picture {
  display: inline-block;
  width: 90px;
  text-align: center;
}

.template-item .picture img{
  width: 100px;
  margin-top: 10px;
}


.template-item .picture i{
  font-size: 40px;
  color: #383838;
}

.template-item > .main-content {
  padding: 0;
  display: flex;
}

.template-item > .main-content .content {
  padding: 10px;
}

.template-item > .main-content > .content > .header {
  font-weight: 700;
  font-size: 1.28571429em;
  margin-top: -.21425em;
  line-height: 1.28571429em;
}

.template-item > .main-content > .content > .description {
  clear: both;
  color: rgba(0,0,0,.68);
}



.card.template-item .tags.extra {
  padding: 10px;
}

