.topo-item-icon {
    border-radius: 10px;
    color: #7f7f7f;
    background-color: #ececec;
}

.topo-item-icon:hover {
    background-color: #dfdfdf;
}

.topo-item-icon.selected {
    background-color: #cbcbcb;
}
