.topo-item.suggested {
    animation: item-bounce 0.5s cubic-bezier(.5,0.05,1,.5);
    animation-direction: alternate;
    animation-iteration-count: infinite;
}


@keyframes item-bounce {
    from { transform: translate3d(0, 0, 0);     }
    to   { transform: translate3d(0, 5px, 0); }
}
