.topo {
    display: flex;
    height: 100%;
    overflow: auto;
}

.topo-service-stack {
    height: 100%;
    margin: 0px !important;
}

.topo .topo-service-stack .externals {
    height: 120px !important;
}

.topo .topo-service-stack .services {
}

.topo .topo-service-stack .internals {
    height: 160px !important;
}

.topo .topo-svg {
    position: absolute;
    z-index: -10;
    width: 100%;
    height: 100%;
}
