.app {
  background-color: #efefef;
  padding-bottom: 100px;
}

.app-logo {
  animation: app-logo-spin infinite 20s linear;
  color: white;
  height: 100px;
  margin-top: 10px;
}

.app-header {
  background-color: #222;
  padding: 10px;
  color: white;
  margin-bottom: 20px;
  text-align: center;
}

.app-title {
  font-size: 2.5em;
}

.app-intro {
  font-size: large;
}

.ui.text.container {
  max-width: none !important;
}

@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
