
@font-face {
    font-family: 'Redacted Script';
    src: url('/fonts/redacted-script-regular.eot');
    src: url('/fonts/redacted-script-regular.eot?#iefix') format('embedded-opentype'),
         url('/fonts/redacted-script-regular.woff2') format('woff2'),
         url('/fonts/redacted-script-regular.woff') format('woff'),
         url('/fonts/redacted-script-regular.ttf') format('truetype'),
         url('/fonts/redacted-script-regular.svg#redacted_scriptregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Redacted Script Bold';
    src: url('/fonts/redacted-script-bold.eot');
    src: url('/fonts/redacted-script-bold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/redacted-script-bold.woff2') format('woff2'),
         url('/fonts/redacted-script-bold.woff') format('woff'),
         url('/fonts/redacted-script-bold.ttf') format('truetype'),
         url('/fonts/redacted-script-bold.svg#redacted_scriptbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.dummy {
    font-family: 'Redacted Script' !important;
}

.dummybold {
    font-family: 'Redacted Script Bold' !important;
}

